@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Titillium Web", sans-serif;
    list-style-type: none;
}

html {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none;
}

html::-webkit-scrollbar {
    display: none;
}

body {
    display: flex;
    flex-direction: column;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none;
}

body::webkit-scrollbar {
    display: none;
}

a {
    color: black;
    line-height: 1;
}

ul {
    list-style-type: none;
}

button:focus {
    outline: none;
}

/* clears the 'X' from Internet Explorer */
input[type="search"]::-ms-clear {
    display: none;
    width: 0;
    height: 0;
}
input[type="search"]::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
}

/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

/*Navbar*/
nav {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

/* logo , my account and shopping cart */
nav .navbar-top {
    max-width: 1600px;
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar-top .logo {
    position: absolute;
    top: 30px;
    left: 100px;
    width: 150px;
    height: 75px;
}

#menuButton {
    width: 45px;
    height: 40px;
    cursor: pointer;
    color: #49989e;
    background: transparent;
    border: none;
    display: none;
    font-size: 1.5rem;
}

#menuButton:focus {
    outline: none;
}

#menuButton:hover {
    color: #0d3c3f;
}

/* container of my account and shopping cart */
.navbar-top > div {
    margin-right: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 60px;
}

/* My account text*/
.account-text {
    font-size: 0.9rem;
    padding: 10px;
}
.account-btn {
    background: none;
    border: none;
    font-size: 1.4rem;
    cursor: pointer;
}

.account-btn:focus {
    outline: none;
}

.navbar-top .shopping-cart {
    margin-left: 10px;
    font-size: 1.4rem;
}

.shopping-cart .sum-prices {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#sum-prices {
    padding-left: 5px;
}

.sum-prices h6 {
    font-size: 0.9rem;
}

.shoppingCartButton {
    cursor: pointer;
}

.shoppingCartButton:hover,
.account:hover * {
    color: #0e5e53;
}

.producstOnCart {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none;
    overflow: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
    overscroll-behavior: contain;
    background-color: #202020;
    width: 300px;
    height: 500px;
    color: #f0f0f0;
    z-index: 15;
    position: fixed;
    top: 20px;
    right: 0;
    text-align: center;
    animation: fade 1s;
}

.producstOnCart::-webkit-scrollbar {
    display: none;
}

@keyframes fade {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: none;
    }
}

.producstOnCart::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.hide {
    display: none;
    visibility: none;
}

.producstOnCart ul {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.producstOnCart .buyItem {
    border-bottom: #aaa 1px solid;
    width: 90%;
    padding: 10px 0;
    display: flex;
}

.producstOnCart img {
    width: 90px;
}

.producstOnCart .top {
    display: flex;
    background-color: #616161;
    text-align: center;
    padding: 10px 0;
    position: sticky;
    top: 0;
    width: 100%;
}

.top button {
    background: transparent;
    border: none;
    font-size: 1.5rem;
    margin-left: 10px;
    color: #c24c37;
    cursor: pointer;
}

.top button:hover {
    color: #e40505;
}

.top h3 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
}

.producstOnCart > .checkout {
    font-size: 0.9rem;
    margin: 20px auto;
    border: none;
    background-color: #297075;
    padding: 10px 20px;
    color: #eee;
    cursor: pointer;
}

.overlay {
    overflow: hidden;
    display: inline-block;
    content: "";
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    background: rgba(0, 0, 0, 0.5);
}

.stopScrolling {
    height: 100vh;
    overflow: hidden;
}

.buyItem h6 {
    margin-bottom: 10px;
}

.buyItem button {
    background: transparent;
    color: #fff;
    cursor: pointer;
    font-weight: 900;
    font-size: 1.2rem;
    padding: 0 6px;
    border: none;
}

.buyItem button:active {
    color: #96c8cc;
}

.buyItem > div {
    padding: 0 20px;
}

.producstOnCart .empty {
    justify-self: center;
    margin: 150px auto;
}

.price {
    color: #dd3333;
    margin-top: 10px;
    text-align: left;
    padding: 5px;
    font-size: 1rem;
}

.navbar {
    max-width: 1600px;
    width: 88vw;
    display: flex;
    flex-direction: row;
    position: relative;
}

.searchbar form {
    position: absolute;
    right: 17px;
    top: 27.5px;
    transform: translate(0%, -50%);
    transition: all 1s;
    width: 40px;
    height: 40px;
    background: white;
    box-sizing: border-box;
    border-radius: 25px;
    border: 1px solid #555;
    padding: 5px;
}

.searchbar > form input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 36px;
    line-height: 20px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 0.9rem;
    border-radius: 20px;
    padding: 0 20px;
}

.searchbar form:hover {
    width: 300px;
    cursor: pointer;
}

.searchbar form:hover input {
    display: block;
}

.searchbar input::placeholder {
    color: #242424;
    font-size: 0.8em;
}

.searchbar > form:hover #search-icon {
    background: #07051a;
    color: white;
}

#search-icon {
    box-sizing: border-box;
    padding: 8px;
    width: 38px;
    height: 38px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: #07051a;
    text-align: center;
    font-size: 1rem;
    transition: all 1s;
}

#search-icon:active,
#search-icon:focus {
    outline: none;
}

.links {
    position: relative;
    display: inline-blo;
    margin: auto;
}

.links ul {
    display: flex;
    flex-direction: row;
}

ul .nav-links {
    cursor: pointer;
    color: #333333;
    text-align: center;
    padding: 15px;
}

.nav-links > a:visited,
.navbar-top > a:visited {
    color: #333333;
}

.link {
    text-align: center;
    font-size: 0.9rem;
}

.nav-links:hover .link {
    color: #24738b;
    text-decoration: underline;
}

.navbarResponsive .links {
    margin: 5px;
}

.navbarResponsive ul {
    flex-direction: column;
    text-align: left;
}

.navbarResponsive .searchbar form {
    position: relative;
    margin-left: 50px;
}

.navbarResponsive .nav-links {
    text-align: left;
}

.navbarResponsive .nav-links > .link {
    z-index: 15;
    color: white;
}

#hearderSlide {
    background-color: #49989e;
    height: 55vh;
    position: relative;
}

#hearderSlide .MS-content {
    margin: 0 1%;
    white-space: nowrap; /* required */
    overflow: hidden; /* required */
    height: 100%;
}

#hearderSlide .item {
    display: inline-block;
    width: 33.3333%; /* required * Determines number of visible slides */
    position: relative; /* required */
    vertical-align: top; /* required */
    overflow: hidden; /* required */
    height: 100%; /* recommended */
    white-space: normal;
}

.item img {
    width: 100%;
    height: 100%;
    padding: 20px 10px;
}

#hearderSlide .MS-controls .MS-left {
    border: none;
    left: 10px;
}
#hearderSlide .MS-controls .MS-right {
    border: none;
    right: 10px;
}

.MS-right:focus,
.MS-left:focus {
    outline: none;
}

.MS-right:active,
.MS-left:active {
    color: #fff;
    background-color: #49989e;
}

#hearderSlide .MS-right {
    position: absolute;
    font-weight: bolder;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

#hearderSlide .MS-left {
    font-weight: bolder;
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
}

.main-section {
    width: 100%;
    text-align: center;
    margin: 50px 0;
}

.product-container {
    max-width: 1600px;
    margin: auto;
    width: 88vw;
    position: relative;
}
.main-section h3 {
    font-size: 1.3rem;
    padding: 50px;
}

.products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.product {
    position: relative;
    text-align: center;
    height: 400px;
    border-radius: 5px;
    overflow: hidden;
}

.product-under {
    width: 100%;
    height: 100%;
}

.product-over {
    z-index: 10;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    animation-name: show_top;
    animation-duration: 1s;
    backdrop-filter: blur(5px);
}
@keyframes show_top {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.product-image:hover .product-over {
    display: flex;
    flex-direction: column;
}

.product-image {
    position: relative;
    height: 62%;
    background-color: #eee;
}

.product-image img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
}

.product-summary {
    font-size: 0.9rem;
    position: relative;
    padding: 10px 5px;
    height: 38%;
}

.product-summary > .price {
    position: absolute;
    left: 20px;
    bottom: 0;
}

.stars {
    position: relative;
    width: 110px;
    height: 40px;
    display: block;
    margin: auto;
    padding: 5px;
}

.stars::after {
    content: "\2605 \2605 \2605 \2605 \2605";
    position: absolute;
    left: 0;
    top: 0;
    width: 65%;
    display: block;
    font-size: 1.4rem;
    color: #dabd3b;
    overflow: hidden;
}

.stars::before {
    content: "\2606 \2606 \2606 \2606 \2606";
    position: absolute;
    left: 0;
    top: 0;
    font-size: 1.4rem;
    color: #7e6c1f;
}

/* Buttons style */
.btn {
    background-color: #96c8cc;
    padding: 15px 50px 15px 30px;
    color: #141414;
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
    font-size: 1.1rem;
    position: relative;
}

.btn:active {
    box-shadow: none;
}

.btn > .fa-angle-right {
    font-size: 1.5rem;
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    transition: right 0.5s;
}

.btn:hover .fa-angle-right {
    font-size: 1.5rem;
    position: absolute;
    right: 20px;
}

.btn i {
    margin: 0 5px;
}

.pop-mobiles {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.pop-mobiles-1 {
    background: linear-gradient(to top, #ebebeb, #fff);
    overflow: hidden;
    width: 100%;
    height: 600px;
    margin-bottom: 30px;
    position: relative;
    padding: 0;
}

.pop-mobiles-1 > figure {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 49%;
}

.pop-mobiles-1 img {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 0;
}

.pop-mobiles-1 > div {
    position: absolute;
    right: 10%;
    top: 30%;
    z-index: 10;
    width: 40%;
    height: 100%;
    text-align: left;
}
.pop-mobiles-1 h4 {
    color: rgb(187, 76, 76);
    font-size: 1.2rem;
}

.pop-mobiles-1 h2 {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-weight: 900;
    font-size: 1.8rem;
}

.pop-mobiles-1 .btn {
    display: inline-block;
    margin-top: 50px;
    margin: 50px 0;
}

.btn-newMobile {
    background-color: white;
    color: #49989e;
    box-shadow: 3px 3px 5px #4e4e4e;
    z-index: 10;
}

.pop-mobiles-2 {
    width: 55%;
}

.pop-mobiles-2 .products {
    grid-template-columns: repeat(3, 1fr);
}

.pop-mobiles-2 .product {
    overflow: hidden;
    margin-bottom: 10px;
}

.pop-mobiles-2 img {
    width: 70%;
    margin: auto;
}

.btn-small {
    border: none;
    font-size: 0.9rem;
    width: 60%;
    padding: 15px;
    background-color: white;
    box-shadow: 2px 2px 2px #49989e;
    color: black;
    margin-bottom: 10px;
    cursor: pointer;
}

.btn-small:hover {
    background-color: #49989e;
    color: white;
}

footer {
    overflow: hidden;
    background-color: #eee;
}

footer .footer-second {
    width: 100%;
    display: block;
    padding: 50px 0;
    overflow: hidden;
    text-align: center;
}

.footer-second a {
    display: block;
    margin: 5px auto;
    width: 50%;
    padding: 5px;
    font-size: 0.9rem;
}

.footer-second h3 {
    margin-bottom: 40px;
    font-size: 1rem;
}

.footer-second a:hover {
    color: #045e52;
    text-decoration: underline;
    text-decoration-color: black;
}

.footer-column-1 {
    width: calc(33.33333%);
    float: left;
}

.footer-column-2 {
    width: calc(33.33333%);
    float: left;
}

.footer-column-3 {
    width: calc(33.33333%);
    float: left;
}

.footer-last {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
}

.footer-last li {
    margin: 0 5px;
}

.hidden {
    display: none;
}

@media screen and (max-width: 1024px) {
    nav .navbar-top {
        padding: 0;
    }

    nav {
        justify-content: left;
        align-items: flex-start;
        margin-bottom: 20px;
    }

    #hearderSlide .item {
        display: inline-block;
        width: 100%;
    }
    .navbar-top .logo {
        width: 100px;
        float: left;
    }

    #menuButton {
        display: inline;
    }

    .navbar {
        background-color: #141414;
        width: 400px;
        height: 55vh;
        z-index: 10;
        position: absolute;
        top: 100px;
        left: 0;
        transform: translateX(-500px);
    }

    .navbarResponsive {
        transition: transform 0.5s;
        flex-direction: column;
        transform: translateX(0);
    }

    .navbarResponsive:after {
        content: "";
        position: fixed;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        z-index: -1;
    }

    .nav-links:hover .link::before {
        display: none;
    }

    .nav-links:hover .link::after {
        display: none;
    }
    .nav-links:hover .link {
        text-decoration: underline;
    }

    .item img {
        padding: 10px 5px;
    }

    .pop-mobiles-2 {
        width: 90%;
        margin-top: 100px;
    }

    .product-container {
        width: 90%;
    }

    .product-over button {
        font-size: 0;
    }

    .product .product-image {
        height: 200px;
    }
}

@media screen and (max-width: 768px) {
    .account-btn {
        font-size: 1rem;
    }

    .product-summary {
        height: 30%;
    }

    .products {
        width: 80%;
        margin: auto;
        grid-template-columns: repeat(2, 1fr);
    }

    .product-summary > p {
        display: none;
    }

    .pop-mobiles-1 > figure {
        width: 70%;
    }

    .pop-mobiles-1 > div {
        left: 10%;
        top: 40%;
        width: 70%;
        height: auto;
    }

    footer .footer-second {
        margin-left: 30px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
    }

    .footer-second h3 {
        margin-bottom: 15px;
    }

    .footer-second > div {
        margin-top: 30px;
        text-align: left;
        width: 100%;
    }
    .footer-second a {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .btn {
        font-size: 0.9rem;
    }

    .navbar {
        width: 100vw;
        height: 430px;
    }

    .producstOnCart {
        font-size: 0.8rem;
    }

    .pop-mobiles-1 {
        width: 100%;
        font-size: 0.9rem;
        height: 300px;
        margin: 0;
    }

    .pop-mobiles-1 .btn {
        opacity: 0.9;
    }

    .pop-mobiles-1 > div {
        top: 0%;
    }

    .pop-mobiles-1 h2 {
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
        font-weight: 900;
        font-size: 1.4rem;
    }
    .pop-mobiles-2 {
        width: 55%;
        margin-left: 1%;
    }
    .products {
        grid-template-columns: 1fr;
    }

    .pop-mobiles-2 .products {
        grid-template-columns: 1fr;
    }

    .product-summary .price {
        display: inline;
        left: 0;
    }

    .account-text {
        display: none;
    }

    .fas {
        font-size: 1rem;
    }
    .pop-mobiles {
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}
